# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Environments
.env
.venv
venv/
venv312/
ENV/
env.bak/
venv.bak/

# Frontend
node_modules/
frontend/node_modules/
dist/
build/
.next/
out/
.nuxt/
coverage/
.vercel
ocal

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/

# Java / Spring Boot
target/
*.class
*.jar
*.war
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Logs
logs/
*.log

# Secrets
*.key
*.pem
credentials.json
